/* App.css */
.truncate-container {
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text {
  font-size: 2.2rem;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #9b7127;
  transition: color 0.3s ease;
}

.copy-icon:hover {
  color: #76500f;
}

.copied-confirmation {
  font-size: 1.2rem;
  color: #9b7127;
  margin-left: 10px;
}
